
page-register {

}

.heading {
	color:white;
	width:80%;
}

h1 {
	font-weight:bold;
}

.mainBody {
 	background-image: url('../assets/img/wedding-background.png');
 	background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.itemWeddingId {
	padding-top:20%;
	background-color:transparent;
	font-weight:bold;
	color:white;
}

/* below style is needed to prevent view from moving
	up when input field is focussed*/
.input-cover {
  position: static;
}

